{% extends 'bka/dg/main_dg.html' %}

{% load crispy_forms_tags %}
{% block content %}

<br>

<div class="row">
    <div class="container col-md-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header" style="color: gold;">Liste des informations non validées</div>
            <div class="card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Client</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th></th>
                </tr>

                {% for l in list %}
                    <tr>
                        {% if l.status == False %}

                            <th></th>
                            <th>{{ l.customer }}</th>
                            <th>{{ l.lat }}</th>
                            <th>{{ l.lon }}</th>

                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
