{% extends 'bka/dg/main_dg.html' %}

{% load crispy_forms_tags %}
{% block content %}

<br>

<div class="row">
    <div class="container col-md-4">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header" style="color: gold;">Liste des informations non validées</div>
            <div class="card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Client</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th></th>
                </tr>

                {% for l in list %}
                    <tr>

                            <th></th>
                            <th>{{ l.customer }}</th>
                            <th>{{ l.lat }}</th>
                            <th>{{ l.lon }}</th>

                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>

    <div class="container col-md-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header" style="color: chartreuse;">Liste des informations validées</div>
            <div class="card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Client</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Forfait</th>
                    <th>Service</th>
                    <th></th>
                </tr>

                {% for l in list %}
                    <tr>
                        {% if l.status == True %}

                            <th></th>
                            <th>{{ l.customer }}</th>
                            <th>{{ l.lat }}</th>
                            <th>{{ l.lon }}</th>
                            <!-- <th>{{ l.forfait }}</th>
                            <th>{{ l.service }}</th> -->

                            {% if l.status == True %}
                                <th><a class="btn btn-outline-warning btn-sm" style="width: 80%;" href="{% url 'cancel_validation' l.id %}">Annuler validation</a></th>
                            {% endif %}

                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container col-md-4">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Validation informations</div>
            <div class="card-body">

                <form method="POST" id="validationForm" data-services-url="{% url 'ajax_load_services' %}">
            
                    {% csrf_token %}
    
                    {% for message in messages %}
                        <p style="color: yellowgreen; text-align: center;" id="messages">{{ message }}</p>
                    {% endfor %}
                    
                    {{ form.as_p }}
    
                    <button class="btn btn-sm btn-light" type="submit" name="submit">
                        valider formulaire
                    </button>
                    
                </form>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                <script>
                    $("#id_forfait").change(function () {
                        const url = $("#validationForm").attr("data-services-url");  // get the url of the `load_cities` view
                        const forfaitId = $(this).val();  // get the selected country ID from the HTML input

                        $.ajax({                       // initialize an AJAX request
                            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                            data: {
                                'forfait_id': forfaitId       // add the country id to the GET parameters
                            },
                            success: function (data) {   // `data` is the return of the `load_cities` view function
                                $("#id_service").html(data);  // replace the contents of the city input with the data that came from the server
                                /*

                                let html_data = '<option value="">---------</option>';
                                data.forEach(function (city) {
                                    html_data += `<option value="${city.id}">${city.name}</option>`
                                });
                                console.log(html_data);
                                $("#id_city").html(html_data);

                                */
                            }
                        });

                    });
                </script>

            </div>
        </div>
    </div>
</div>

{% endblock %}
