{% extends 'bka/dg/main_dg.html' %}

{% block content %}

<br>

<div class="row">
    <div class="container col-md-8">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Liste des informations</div>
            <div class="card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Client</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Valeur</th>
                    <th>Unité</th>
                    <th></th>
                </tr>

                {% for l in list %}
                    <tr>
                        <th></th>
                        <th>{{ l.customer }}</th>
                        <th>{{ l.lat }}</th>
                        <th>{{ l.lon }}</th>
                        <th>{{ l.value }}</th>
                        <th>{{ l.unit }}</th>

                        {% if l.status == False %}
                            <th><a class="btn btn-outline-light btn-sm" style="width: 80%;" href="{% url 'validation_installation_informations' l.id %}">Validation</a></th>
                        {% endif %}

                        {% if l.status == True %}
                            <th><a class="btn btn-outline-warning btn-sm" style="width: 80%;" href="{% url 'cancel_validation' l.id %}">Annuler validation</a></th>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
