{% extends 'bka/dg/main_dg.html' %}

{% load crispy_forms_tags %}
{% block content %}

<br>

<div class="row">
    <div class="container col-md-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Formulaire de validation</div>
            <div class="card-body">

                <form action="" method="POST">
            
                {% csrf_token %}
                
                {{ form.instance.customer }} <hr>
                {{ form.instance.lat}} <hr>
                {{ form.instance.lon }} <hr>
                {{ form.forfait | as_crispy_field }}
                {{ form.service | as_crispy_field }}

                <button class="btn btn-light" type="submit" name="submit">
                    valider formulaire
                </button>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}

<script>
    $("#forfait").change(function (){
        const url = $("#validation_installation_informationForm").attr("validation_installation_informations");
        const idForfait = $(this).val(); 

        $.ajax({
            url: url,
            data: {
                'id_forfait': idForfait
            },
            success: function(data){
                $("#service").html(data);
            }
        });
    });
</script>
