{% extends 'bka/dg/main_dg.html' %}

{% load crispy_forms_tags %}
{% block content %}

<br>

<div class="row">
    <div class="container col-md-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Formulaire de validation</div>
            <div class="card-body">

                <form action="" method="POST">
            
                {% csrf_token %}
                
                {{ form.instance.customer }} <hr>
                {{ form.instance.lat}} <hr>
                {{ form.instance.lon }} <hr>
                {{ form.type_forfait | as_crispy_field }}
                {% if type_forfait == 'forfait résidentiel' %}
                    {{ form.forfait_residentiel | as_crispy_field }}
                {% elif type_forfait == 'forfait entreprise' %}
                    {{ form.forfait_entreprise | as_crispy_field }}
                {% endif %}

                <button class="btn btn-light" type="submit" name="submit">
                    valider formulaire
                </button>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
