{% extends 'bka/dg/main_dg.html' %}

{% load crispy_forms_tags %}
{% block content %}

<br>

<div class="row">
    <div class="container col-md-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Formulaire de validation</div>
            <div class="card-body">

                <form method="POST" id="validationForm" data-services-url="{% url 'ajax_load_services' %}">
            
                {% csrf_token %}
                
                {{ form.as_p }}

                <button class="btn btn-light" type="submit" name="submit">
                    valider formulaire
                </button>

                </form>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $("#id_forfait").change(function () {
        const url = $("#validationForm").attr("data-services-url");  // get the url of the `load_cities` view
        const forfaitId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'forfait_id': forfaitId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_service").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });
</script>

{% endblock %}
