{% extends 'bka/tech/main_tech.html' %}

{% load crispy_forms_tags %}
{% block content %}

<br>

<div class="row">
    <div class="container col-md-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Liste des coordonnées</div>
            <div class="card-body">

                <form action="" method="POST">
            
                {% csrf_token %}

                {% for message in messages %}
                    <p style="color: yellowgreen; text-align: center;" id="messages">{{ message }}</p>
                {% endfor %}
                
                {{ form.customer | as_crispy_field }}
                {{ form.lat | as_crispy_field }}
                {{ form.lon | as_crispy_field }}

                <button class="btn btn-sm btn-light" type="submit" name="submit">
                    valider formulaire
                </button>
                <a class="btn btn-danger btn-sm" type="button" href="{% url 'list_coordinates' %}">Annuler</a>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}