{% extends 'bka/tech/main_tech.html' %}

{% block content %}

<br>

<div class="row">
    <div class="container col-md-8">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Liste des informations validées</div>
            <div class="card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Client</th>
                    <th>Forfait</th>
                    <th>Service</th>
                    <th></th>
                </tr>

                {% for l in list %}
                    <tr>
                        <th></th>
                        <th>{{ l.customer }}</th>
                        <th>{{ l.forfait }}</th>
                        <th>{{ l.service }}</th>
                        <th></th>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
