{% extends 'bka/main.html' %}

{% block content %}

<form action="{% url 'cancel_validation' item.id %}" method="POST">

    {% csrf_token %}

    <br>
 
    <div class="row">
        <div class="container col-md-6">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">Annuler la validation</div>
                <div class="card-body">

                    <strong><p>Etes vous sure de vouloir annuler la validation de "{{item}}" ?</p></strong>

                    <div>

                        <a class="btn btn-warning btn-sm" href="{% url 'list_all_informations' %}">Cancel</a>

                        <input class="btn btn-danger btn-sm" type="submit" name="confirm">

                    </div>

                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}